.navWord{
    width: 6rem;
}

.logo span{
    display: inline-block;
    width: 9rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .text-3xl{
        font-size: x-large;
    }
    .navWord{
        width: 4.5rem;
    }
}